body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('images/pexels-bhargava-marripati-674798-3551805.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
}

header {
    background-color: rgba(0, 0, 0, 0.6); 
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 3em;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
}

.tourist-sites {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

.site {
    width: 45%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.site img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.text {
    padding: 20px;
    width: 50%;
}

.text h2 {
    color: #333;
    font-size: 1.8em;
}

.text p {
    font-size: 1em;
    line-height: 1.5;
    color: #555;
}
a {
    color: chartreuse;
}
